* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display:flex;
	justify-content: space-between;
	padding: 4% 5%;

}

/*Header Buttons*/

.reel-header > button {
	background-color: transparent;
    color: white;
    border: none;
    font-size: larger;
	fon
}

nav button {
	background-color: transparent;
    border: none;
    font-family: "TikTok Sans", sans-serif;
    color: #ffffff69;
    font-weight: 550;
    font-size: medium;
    padding: 5px;
}

nav button:last-child {
	color: white;
	border-bottom:2px solid white;
}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
   
	
}

/*buttons sidebar*/

.button-profile img {
	
	width: 100%;
	border-radius: 100%;
	border: 2px solid white;

	
	
}





.sidebar div {
	background-color: transparent;
	color: white;
	text-align: center;
	font-size: smaller;
	
}

.sidebar i {
	display: block;
	font-size: x-large;
}



/*Footer*/

/*Info Video Section*/

.info-video {
	font-family: "TikTok Sans", sans-serif;
    padding: 0px 10px;
	margin-bottom: 15px;
}

p {
	font-size: small;
    margin-top: 5px;
}

.more-info {
	font-weight: bold;
}


/*Buttons Foot*/

.footer-buttons {
	background-color: black;
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding: 3%;
	
	
}

.footer-buttons .button-foot {
	background-color: transparent;
    color: white;
    border: none;
	font-size: x-small;

}

.footer-buttons i {
	font-size: x-large;
	display: block;
}




/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */

.debug .sidebar {
	max-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	
}

/* --------------------- */
